fastapi==0.99.1
pydantic==1.10.11
uvicorn>=0.15
jinja2>=3
pytest>=6.2
pytest-cov>=3
requests>=2.26
beautifulsoup4>=4.10
sqlalchemy>=1.4
psycopg2-binary>=2.9
debugpy>=1.5
httpx>=0.23
aio-pika>=9.3
wait-for-it>=2.2
debugpy>=1.5